# Dependências
node_modules/

# Arquivos de ambiente
.env

# Logs
*.log

# Diretórios temporários
tmp/
dist/
build/

# Configurações locais
.vscode/
.idea/

# Cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos do sistema
.DS_Store
Thumbs.db